body {
  margin: 0;
  width: 400px;
  height: 280px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5DCDE;
  color: #232323;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
}

.add-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8.5px;
}

.add-text {
  font-size: 16px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  border-radius: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: #8ED570;
  transition: box-shadow 0.15s;
  height: 26px;
  width: 35px;
}

.add-icon {
  color: #F0F0F0;
}

.add-button:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.add-button:active {
  background-color: #6fa757;
  border-width: 2px;
}

.minus-button {
  border-radius: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: #e8e8e8;
  transition: box-shadow 0.15s;
  height: 22px;
  width: 25px;
  margin-right: 15px;
}

.minus-icon {
  color: #FF7C75;
}

.minus-button:hover{
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.minus-button:active {
  background-color: #bfbfbf;
  border-width: 2px;
}

.horizontal-line-divider {
  border-bottom: 2px double #baabab;
  width: 100%;
  border-width: 5px;
  text-align: center;
}

.quick-link-container {
  height: 190px;
  overflow-y: scroll;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  padding-inline-start: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #232323;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: underline;
}